<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polipoid"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- So we can operate the proxy -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- So we know when the network is disconnected and can set proxyOffline to true -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- So we can be set to start when the system boots -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.polipoid.ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.polipoid.backend.ProxyWrapperService" >
        </service>
        <!-- Autostart on boot receiver -->
        <receiver android:name="com.polipoid.ui.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.polipoid.ui.HelpActivity"
            android:parentActivityName="com.polipoid.ui.MainActivity"
            android:label="@string/title_activity_help" >
        </activity>
    </application>

</manifest>
